<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="tg" />
        </intent>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
        <package android:name="io.metamask" />
        <package android:name="com.wallet.crypto.trustapp" />
        <package android:name="io.gnosis.safe" />
        <package android:name="me.rainbow" />
        <package android:name="org.toshi" />
        <package android:name="app.phantom" />
        <package android:name="com.solflare.mobile" />
        <package android:name="com.coinbase.android" />
        <package android:name="com.bitpay.wallet" />
        <package android:name="io.zerion.android" />
        <package android:name="im.token.app" />
    </queries>
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <!--  if androidExistNotSave = true -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <!-- Permissions options for the `notification` group -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!--
     由于使用了 flutter_secure_storage，必须设置 android:allowBackup="false"。
     原因：Android 默认会将数据备份到 Google Drive，这可能导致 flutter_secure_storage 出现
     java.security.InvalidKeyException 异常。
     -->
    <application
        android:name="${applicationName}"
        android:allowBackup="false"
        android:enableOnBackInvokedCallback="false"
        android:icon="@mipmap/ic_launcher"
        android:label="${placeholder_appName}"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:windowSoftInputMode="adjustResize">


            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Disable default Flutter deep linking -->
            <meta-data
                android:name="flutter_deeplinking_enabled"
                android:value="false" />


            <!-- App Links 配置 -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- 支持 https -->
                <data
                    android:host="www.manic.trade"
                    android:scheme="https" />

                <!-- 支持 http -->
                <data
                    android:host="www.manic.trade"
                    android:scheme="http" />


                <!-- 支持 https -->
                <data
                    android:host="manic.trade"
                    android:scheme="https" />

                <!-- 支持 http -->
                <data
                    android:host="manic.trade"
                    android:scheme="http" />

                <data
                    android:host=""
                    android:scheme="manic-trade-app" />

            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

    </application>

</manifest>
